@media only screen and (max-width: 768px){
    .container{
        padding: 0 12px;
    }
    
    .myrow{
        margin-bottom: 12px;
    }

    .small-img-left{
        width: 100%;
        height: auto;
        padding-right: 0;
        margin-bottom: 12px;
        float: left;
    }

    .small-img-right{
        padding-left: 0;
        width: 100%;
        height: auto;
        float: left;
    }

    #home-top-section{
        height: 70vh;
        /* height: auto; */
    }
    .top-flex h1{
        font-size: 38px;
        line-height: 38px;
        letter-spacing: -2px;
    }

    .text-row{
        margin: 53px 0;
    }

    .heading2{
        font-size: 27px;
        line-height: 32px;
        max-width: none;
        padding: 0 6px;
        letter-spacing: -1px;
    }

    .home-text-right:nth-of-type(1){
        width: 100%;
        padding-right: 0;
        margin-left: 0;
        margin-top: 18px;
    }

    .caption{
        font-size: 9px;
        line-height: 14px;
    }

    .big-text{
        width: 100%;
        float: none;
        padding-right: 0;
        font-size: 100%;
    }

    .big-text p:not(:last-child){
        margin-bottom: 18px;
        
    }

    .small-text{
        padding-left: 0;
        padding-top: 53px;
        margin-left: 0;
        width:100%;
        float: none;
    }
    
    #home-pics2-section{
        margin-bottom: 53px;
    }

    .small-text2{
        width: 100%;
        padding-right: 0;
        margin-left: 0;
        margin-top: 18px;

    }

    .small-text2 h3{
        padding: 0 6px;
    }

    .small-text2 p:not(:last-child) {
        margin-bottom: 20px;
    }

    .small-text2 p{
        
            padding: 0 6px;
        
    }

    .big-text2 {
        width: 100%;
        padding-left: 0;
        margin-left: 0;
        padding-top: 53px;
    }

    .big-text2 h3{
        font-size: 19px;
        line-height: 24px;
        padding: 0 6px;
    }

    .big-text2 p{
        padding: 0 6px;
        font-size: 19px;
        line-height: 24px;
    }

    .big-text2 p:not(:last-child) {
        margin-bottom: 18px;
    }

    .center-image .caption{
        font-size: 9px;
        line-height: 14px;
        width: 100%;
        padding: 18px 18px 0 18px;
        margin: 0 auto 18px;
    }

    #home-toppics-section2 .caption{
        width: 100%;
        padding: 18px 18px 0 18px;
        margin: 0 auto 18px;
        clear: both;
        font-size: 9px;
        line-height: 14px;
    }
    
    #home-toppics-section2, #home-interview-section{
        margin-bottom: 53px;
    }

    .small-text3{
        padding-right: 0;
        width: 100%;
        float: none;

    }

    .big-text3{
        padding-left: 0;
        margin-left: 0;
        padding-top: 53px;
        width: 100%;
        float: none;
    }

    .big-text3 p{
        padding: 0 6px;
        font-size: 19px;
        line-height: 24px;
    }

    .big-text3 p:not(:last-child){
        margin-bottom: 18px;
    }

    .big-text3 h3{
        margin: 55px 0 26px;
        padding: 0 6px;
        font-size: 19px;
    line-height: 24px;
    }

    .img-box:not(:last-child) {
        margin-bottom: 12px;
    }

    .img-box .content {
        margin-top: 24px;
        text-align: center;
    }

    #home-contact-section{
        margin-bottom: 53px;
    }

    .sharerow{
        margin-top: 33px;
    }

    .contact-small-left{
        padding-right: 0;
        margin-left: 0;
        margin-top: -2px;
        margin-bottom: 53px;
        width: 100%;
        
    }

    .contact-small-right{
        padding-left: 0;
        width: 100%;
        float: none;   
    }

    .contact-small-right h3{
        padding: 0 6px;
    }

    .contact-small-right p{
        padding: 0 6px;
    }

    #home-tp-section{
        padding: 12px 0;
    }

    .tag-cloud{
        width: 100%;
        margin-bottom: -12px;
        padding: 53px 0;
    }

    .more-places{
        margin-top: 12px;
    }

    .more-places h4{
        margin-bottom: -1px;
    }

    .thumbs-container{
        width: 100%;
        margin: 0;
    }

    .thumb {
        width: 100%;
        float: none;
        padding: 0;
        margin-bottom: 12px;
    }

    .thumb-mask{
        padding-bottom: 100%;
    }

    #home-newsletter-section{
        padding: 110px 0;
    }

    .news-content{
        padding: 0 12px;
    }
}

@media only screen and (max-width: 1279px) and (min-width: 769px){
    .top-flex h1{
        font-size: 100px;
        line-height: 100px;
    }

    .heading2{
        font-size: 47px;
        line-height: 57px;
    }

    .container{
        padding: 0 8.5vw;
    }

    
    .thumb{
        width: 33.333333%;
    }
}
